/* Direktif khusus Tailwind versi 4 untuk memuat seluruh library CSS Tailwind */
@import "tailwindcss";

/* 
   KONSEP TEMA TAILWIND (@theme):
   Memungkinkan kita membuat CSS Variable (Custom Properties) yang dapat langsung dipanggil 
   sebagai kelas utilitas (Utility Class) di dalam tag JSX.
   Contoh: --color-latar akan menciptakan utilitas otomatis seperti "bg-latar", "text-latar", atau "border-latar".
*/
@theme {
    --font-barlow: "Barlow", sans-serif;
    --font-poppins: "Poppins", sans-serif;

    /* Warna Tema Elegent Hotel */
    --color-latar: #fdf8f5; 
    --color-oren: #f97316; 
    --color-oren-muda: #ffedd5;
    --color-teks: #374151; 
    --color-garis: #e5e7eb; 
}

/* 
   KONSEP @apply:
   Adalah fitur direktif di mana kita bisa menyuntikkan kelas Tailwind langsung ke tag HTML dasar (seperti body, h1, p).
   Di sini, seluruh teks di web akan otomatis memakai font Poppins tanpa perlu kita ketik di setiap komponen.
*/
body {
    @apply font-poppins bg-latar text-teks;
    margin: 0;
}